.Row1 {
  display: flex;
}
.Row1 .div11 {
  background-color: aqua;
  color: blue;
  flex: 1;
}

.Row1 .div12 {
  background-color: blueviolet;
  color: brown;
  flex: 2;
}
.Row2 {
  display: flex;
}
.Row2 .div21 {
  background-color: chartreuse;
  color: red;
  flex: 1;
}
.Row2 .div22 {
  background-color: chocolate;
  color: brown;
  flex: 3;
}

.Row2 .div23 {
  background-color: rgb(255, 149, 0);
  color: blue;
  flex: 2;
}

.Row2 .div22 .div221{
    background-color: rgb(244, 5, 5);
    color:rgb(255, 0, 72);
   
}

.Row2 .div22 .div222{
    background-color: blueviolet;
    color: rgb(253, 5, 5);
  
}